<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="./Bootstrap.php"
        colors="true"
        strict="false"
        syntaxCheck="false"
        verbose="true">
    <testsuite name="holiday-dates">
        <directory suffix="Test.hh">DateUtilsTest/</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".hh">./../src</directory>
        </whitelist>
    </filter>
    <php>
        <server name="SERVER_NAME" value="phpunit"/>
        <server name="APPLICATION_ENV" value="development"/>
    </php>
</phpunit>
